.bild {
  width: 20rem;
  height: 30rem;
  margin-top: 10px;
  border-radius: 5%;
}

body {
  background-color: #1dd1a1;
}

.nice {
  text-align: center;
  margin-top: 5rem;
}

input {
  width: 17rem;
  text-align: center;
}

.btns {
  height: 3rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  color: white;
  background-color: #222f3e;
}

.btns:hover {
  background-color: #576574;
  color: #c8d6e5;
}

.einfg {
  height: 3rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background-color: #222f3e;
  color: #fff;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #576574;
  color: #c8d6e5;
}

.lightDark {
  height: 1.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  background-color: #222f3e;
}

.darkInputPlaceholder::placeholder {
  color: #222f3e;
}

.lightModePlaceholder::placeholder {
  color: white;
}
